.chart-form {
    padding: 10px;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
  }

  select {
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    color: #fff;
  }

  .toCurr {
    text-align: center;
    color: #ccc;
  }

  